<!DOCTYPE html>
<html lang="en">
<style>
    .content {
        max-width: 500px;
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 15%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #C0C0C0;
    }

    .imgBackground {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: transparent;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery</title>
    <!--<script src="..\javascript\parallax.js"></script>-->
</head>
<body class="imgBackground" background="{{ url_for('static', filename='FamilyTree.jpg') }}">
    <div class="content" align="center" style="opacity:0.95">
        <!-- Page content -->
        <h1>Family Tree</h1>
        <a href="{{ url_for('static', filename='') }}">Powered by Y.F. Tech</a><br><br />
        <form action="">
            <label for="Uname">Trouble logging in?</label><br>
            <input placeholder="Email" type="text" id="Email" name="Email" value=""><br><br />
            <input type="submit" value="Send Reset Email">
        </form>
        <!--<script src="//d3js.org/d3.v3.min.js"></script>-->
        <p>
            <a href="{{ url_for('reset_password_request') }}">Trouble resetting password?</a><br /><br />
            <hr> - OR - <hr />
            <a href="{{ url_for('signup') }}">Create a new account</a>
        </p>
    </div>
</body>
