<!DOCTYPE html>
<html lang="en">
<style>
    .content {
        max-width: 500px;
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 15%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .imgBackground {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: transparent;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Tree</title>
    <!--<script src="..\javascript\parallax.js"></script>-->
</head>
<body class="imgBackground" background="{{ url_for('static', filename='FamilyTree.jpg') }}" >
    <div class="content" style="background-color:#E6E6FA" align="center">
        <!-- Page content -->
        <h1>Family Tree</h1>
        <a href="{{ url_for('static', filename='') }}">Powered by Y.F. Tech</a><br><br />
        <form action="">
            <label for="Uname">Username or Email:</label><br>
            <input type="text" id="Uname" name="Uname" value=""><br><br />
            <label for="Pword">Password:</label><br>
            <input type="password" id="Pword" name="Pword" value=""><br><br>
            <input type="submit" value="Login">
        </form>
        <!--<script src="//d3js.org/d3.v3.min.js"></script>-->
        <p>
            <a href="{{ url_for('static', filename='') }}">Forgot Password?</a><br /><br />
            <a href="{{ url_for('signup') }}">Sign Up </a><br />
            <hr> - OR - <hr />
            <a href="{{ url_for('login') }}">Continue with Google </a><br /><br />
            <a href="{{ url_for('static', filename='') }}">Continue with Other</a>
        </p>
    </div>
</body>
