<!DOCTYPE html>
<html lang="en">
<style>
    .content {
        max-width: 500px;
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 15%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #C0C0C0;
    }

    .imgBackground {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: transparent;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome, {{ user_info['email'] }}'s Family Tree</title>
    <!--<script src="..\javascript\parallax.js"></script>-->
</head>
<body class="imgBackground" background="{{ url_for('static', filename='FamilyTree.jpg') }}">
    <div class="content" align="center" style="opacity:0.95">
        <!-- Page content -->
        <h1>Family Tree</h1>
        <h1>Welcome, {{ user_info['email'] }}!</h1>
        <p>Username: {{ user_info['username'] }}</p>
        <p>Account created on: {{ user_info['created_at'] }}</p>

        <a href="{{ url_for('logout') }}">Logout</a>
        <!--<script src="//d3js.org/d3.v3.min.js"></script>-->
    </div>
</body>
