<!DOCTYPE html>
<html lang="en">
<style>
    .content {
        max-width: 500px;
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 15%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #C0C0C0;
    }

    .imgBackground {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: transparent;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!--<script src="..\javascript\parallax.js"></script>-->
</head>
<body class="imgBackground" background="{{ url_for('static', filename='FamilyTree.jpg') }}">
    <div class="content" align="center" style="opacity:0.95">
        <h2>Reset Your Password</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            {{ form.password.label }} {{ form.password }}
            {{ form.confirm_password.label }} {{ form.confirm_password }}
            {{ form.submit }}
        </form>
</body>
</html>
